@charset "utf-8";

// Import a Google Font

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;900&family=Source+Serif+4:opsz@8..60&family=Inter&family=Tiny5&display=swap');

// Set your brand colors
$purple: #00887a;
$brown: #4c4c4c;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$background-color: #f5f5f5;

// Update Bulma's global variables
$family-sans-serif: 'Inter', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $background-color;
$control-border-width: 2px;

$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
